.movies {
  display: grid;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.movie {
  text-align: center;
}

.movie p {
    margin: 0;
}

.movie img {
  border-radius: 5px;
}
